@import '../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../node_modules/bootstrap/scss/variables';

$jsvs-navbar-nav-link-border-active: #47962d !default;
$jsvs-navbar-menu-item-link-active-box-shadow: inset 0 -0.25rem 0 0 $jsvs-navbar-nav-link-border-active !default;
$jsvs-navbar-menu-item-link-active-box-shadow-mobile: none;
$jsvs-navbar-menu-item-nav-link-padding: 1rem .9375rem !default;
$jsvs-navbar-menu-item-nav-link-transition: all .35s !default;
$jsvs-navbar-menu-item-nav-link-background: transparent !default;

