@import '../../../../../variables';

::ng-deep .navbar {
  @include gradient-y($jsvs-gradient-start-color, $jsvs-gradient-end-color);

  padding: $jsvs-navbar-padding;

  .container {
    margin: 0 !important;
    .nav-header {
      margin: $jsvs-navbar-header-margin;
      padding: $jsvs-navbar-header-padding;
    }

    .volvo-brand {
      margin: $jsvs-navbar-brand-margin;
    }

    .navbar-text {
      //width: 72px !important;
      //max-width: 72px !important;
      flex: 1;
      color: lightgray;
      padding-top: 12px;
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
    }

    .navbar-toggler {
      margin: $jsvs-navbar-toggler-margin;
    }
  }
}
