<div class="container-fluid">
<div class="row">
<div class="inline mt-4 col-5">
  <!--<video id="vid1" width="640" height="360" controls  preload>-->
    <!--&lt;!&ndash; get src from - -->
<!--https://api-portal.videoindexer.ai/docs/services/operations/operations/Get-video-source-file-download-url &ndash;&gt;-->
    <!--&lt;!&ndash;<source src="https://oritestsa.blob.core.windows.net/public/testfiles/Microsoft%20HoloLens-%20RoboRaid.mp4" type="video/mp4" />&ndash;&gt;-->
    <!--<source src="https://www.youtube.com/watch?v=n2md56jQ2eo" type="video/mp4" />-->
    <!--Your browser does not support the video tag.-->
  <!--</video>-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/WH4F7J7AAFE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
  <iframe width="640" height="360" src="https://www.videoindexer.ai/embed/player/2aa0f8a0-afab-4894-9312-553307bf426c/dd7de93dd7/?&locale=en&location=trial" frameborder="0" allowfullscreen></iframe>
</div>
<div class="inline col-6 ml-5">
  <!--<iframe width="680" height="780" id="viInsights" src="https://www.videoindexer.ai/embed/insights/9f3f30d9-7346-4f00-ab69-71dce7559e9f/2b01c402f7" frameborder=" 0" allowfullscreen="true"></iframe>-->
  <iframe width="580" height="780" src="https://www.videoindexer.ai/embed/insights/2aa0f8a0-afab-4894-9312-553307bf426c/dd7de93dd7/?&locale=en&location=trial" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
