@import '~ngx-toastr/toastr.css';
.toast-top-center, .toast-bottom-center {
  &.toast-container {
    left: 0;
    right: 0;
    .toast {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
  .toast {
    border-radius: 1px;
    box-shadow: none;
    margin: 0;
  }
}
