@import './app/core/footer/containers/footer-section/variables';
@import './app/core/navigation-bar/components/navigation-bar/variables';
@import './app/core/navigation-bar/components/navigation-bar-menu-item/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

$green: #47962d;
$yellow: #f7d302;
$red: #c4001a;

$theme-colors: (
  primary: #1251b5,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: #464957
);

$grid-header-bg: #f6f6f6;
$grid-hovered-bg: transparent;
$grid-alt-bg: transparent;

//Pager

$pager-bg: transparent;
$pager-border: transparent;
$pager-hover-text: #333333;
$pager-hover-bg: transparent;
$pager-hover-border: transparent;
$pager-selected-bg: theme-color('primary');
$pager-selected-border: $pagination-active-border-color !default;
$pager-button-padding-y: 0;

$dropdown-link-color:               #333333;
$dropdown-link-hover-color:         #333333;
$dropdown-link-hover-bg:            #e9f2f5;

$jsvs-gradient-start-color: #2881c2;
$jsvs-gradient-end-color: #412e2c;
